<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ping pong cho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21098E5F1BEECEF3005B33F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21098E731BEECEF4005B33F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21098E7E1BEECEF4005B33F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
